<h1><%= l(:text_question) %></h1>
<i><%= l(:question_text_asked_by) %> <%= h "#{@question.author} [#{@issue.tracker.name} ##{@issue.id}]" %></i>

<%= textilizable(@journal, :notes, :only_path => false) %>

<ul>
<% for detail in @journal.details %>
    <li><%= show_detail(detail, true) %></li>
<% end %>
</ul>

<hr />
<%= render :partial => "mailer/issue_text_html", :locals => { :issue => @issue, :issue_url => @issue_url } %>
